Package: fyi.zxcvbn.updatenotifier
Name: zxUpdateNotifier
Version: 1.2
Architecture: iphoneos-arm
Description: an injectable tweak that detects when your IPA is out of date!
Author: zxcvbn
Maintainer: zxcvbn
Section: Tweaks
Depends: firmware (>= 9.0)
